.dragAndDrop{
    position: relative;
    transition: all 0.5s;
    user-select: none;
}

.dragAndDrop1{
  position: relative;
}

.dragAndDrop1_close{
  font-size: 15px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background-color: #ff6933;
  z-index: 1999;
  cursor: pointer;
  width: 26px;
  height: 20px;
  display: none;
  align-items: center;
  justify-content: center;
}

.dragAndDrop1:hover .dragAndDrop1_close{
   display: flex;
}

.itemDrop{
  background-color: transparent;
}

.wtill{
  background-color: #fff;
}

.dragAndDrop_Box{
   cursor: pointer;
}

.isDragAndDrop{
    box-shadow: inset 0 0 0 2px #ff6933;
    position: fixed;
    z-index: 1;
    transition: none !important;
}

.isDragUp {
    transition: all 0.5s;
    position: fixed;
}

