.dragAndDrop{
    position: relative;
    transition: all 0.5s;
}

.dragAndDrop_Box{
   cursor: pointer;
}

<<<<<<< Updated upstream
.isDragAndDrop{
    box-shadow: inset 0 0 0 2px #ff6933;
    position: fixed;
=======

.pressDrag{
    position: fixed;
    box-shadow: inset 0 0 0 2px #ff6933;
>>>>>>> Stashed changes
    z-index: 11111;
    transition: none !important;
}

<<<<<<< Updated upstream
.isDragUp {
    transition: all 0.5s;
    position: fixed;
=======

.fixed {
   position: fixed;
>>>>>>> Stashed changes
}

